<header>
    <nav>
        <div>
            <p>
                Daily App.
            </p>
        </div>
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Add to my Daily</li>
        </ul>
    </nav>
</header>