<header>
    <nav>
        <ul>
            <li><a href="/">Daily App</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        <ul>
            <li><a href="/new">Add to my daily</a></li>
        </ul>
    </nav>
</header>